# ESOCS Ordination Portal Environment Configuration
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_APP_NAME="ESOCS Ordination Portal"
NEXT_PUBLIC_CONFERENCE_YEAR=2026
NEXT_PUBLIC_SECRETARIAT_EMAIL="secretariat@esocs.church"

